body {
    background-color: rgb(144, 200, 75);
    color: #DDDDDD;
    font-family: courier new;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    font-size: 14pt;
    font-weight: normal;
  }
  #grid {
    margin-left: auto;
    margin-right: auto;
  }
  
  #grid TR TD{
    border:1px solid white;
    background-color: #999999;
    width: 16px;
    height: 16px;
    text-align: center;
  }
  
  #grid TR TD.clicked {
      background-color: #333333;
  }
  
  #grid TR TD.mine {
      background-color: #FF0000;
  }
  
  button {
    margin: 12px;
  }
  
  
  